body {
	background-color: #f1f1f1;
}

.container {
	max-width: 600px;
	margin: 0 auto;
}

h1 {
	text-align: center;
	margin-bottom: 30px;
}

.form-group label {
	font-weight: bold;
}

.btn-primary {
	display: block;
	margin: 0 auto;
}
